* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 0.5rem;
  text-align: center;
}

.bg-1 {
  background-color: whitesmoke;
}

.bg-2 {
  background-color: rgb(147, 204, 164);
  box-shadow: 0px 0px 5px;
}